@font-face {
  font-family: "DBHelvethaicaX-55Regular";
  src: url("../fonts/DBHelvethaicaX/DBHelvethaicaX.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/DBHelvethaicaX/DBHelvethaicaX.woff") format("woff"),
    url("../fonts/DBHelvethaicaX/DBHelvethaicaX.ttf") format("truetype"),
    url("../fonts/DBHelvethaicaX/DBHelvethaicaX.svg#DBHelvethaicaX-55Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PSL-Chamnarn";
  src: url("../fonts/PSL-Chamnarn/PSL-Chamnarn.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/PSL-Chamnarn/PSL-Chamnarn.woff") format("woff"),
    url("../fonts/PSL-Chamnarn/PSL-Chamnarn.ttf") format("truetype"),
    url("../fonts/PSL-Chamnarn/PSL-Chamnarn.svg#PSL-Chamnarn") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-size: 18px;
  font-family: "DBHelvethaicaX-55Regular", sans-serif, Tahoma;
}
.c-a717ab {
  color: #a717ab;
}
.bg-687588 {
  background-color: #687588;
}
.box-fast-call {
  display: flex;
  align-items: center;
  margin-right: 5px;
  width: 190px;
}
.icon-humam-sound {
  width: 20px;
  height: auto;
  margin-right: 5px;
}
.text-fast-call {
  font-size: 22px;
  font-weight: 5 00;
  color: #6d6d6d;
}
.icon-phone {
  width: 35px;
  margin-left: 7px;
  margin-right: 7px;
}
.num-fast-call {
  font-size: 35px;
  font-weight: 700;
  color: #6d6d6d;
  line-height: 35px;
}
.box-marquee-text {
  margin-left: 10px;
  margin-right: 10px;
}
.head-announce {
  font-size: 22px;
  line-height: 12px;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #d11594;
  border-radius: 10px;
  position: relative;
}
.head-announce::before {
  content: "";
  position: absolute;
  left: -5px;
  top: -3px;
  background-image: url("../images/announce_marquee/icon-sound.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  width: 34px;
  height: 34px;
}
.box-for-marquee {
  width: 100%;
  max-width: 270px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.text-marquee {
  font-size: 22px;
  color: #710590;
}
.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}
.nav-menu .li-nav-menu {
  border-right: 2px solid #c8c8c8;
  position: relative;
}
.nav-menu .li-nav-menu:last-of-type {
  border-right: none;
}
.nav-menu .li-nav-menu .link-nav-menu {
  display: block;
  padding: 3px 10px;
  font-size: 20px;
  color: #979797;
  transition: color 600ms ease-in-out;
}
.text-username {
  color: #5d5d5d;
}
.nav-menu .li-nav-menu .link-nav-menu:hover {
  color: #710590;
}
.nav-menu .li-nav-menu .dropdown-menu a.dropdown-item {
  font-size: 20px;
  color: #979797;
}
.icon-lang {
  width: 26px;
  margin-right: 5px;
}
.fs-13 {
  font-size: 13px;
}
.bg-dfdee1 {
  background-color: #dfdee1;
}
.navbar2 {
  background-color: transparent;
  background-image: url("../images/nav_menu/bg_nav.jpg");
  background-repeat: repeat-x;
  background-size: auto 100%;
  padding: 0 0;
  padding-bottom: 5px;
  position: relative;
}
.navbar2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background-image: url("../images/nav_menu/bg_box_search.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;
}
.navbar2 .navbar-brand {
  padding: 0;
}
.logo_nav2 {
  width: 200px;
}
.btn.btn-worksystem {
  box-shadow: none;
  -webkit-boxshadow: none;
  -ms-boxshadow: none;
  font-size: 20px;
  line-height: 12px;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid #ffffff;
  border-radius: 15px;
}
.btn.btn-worksystem:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.ul-nav2 {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  padding-left: 13px;
  padding-right: 13px;
}
.ul-nav2.ul-nav2-bg {
  background-image: url("../images/nav_menu/bg_ul.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 3px;
  padding-bottom: 3px;
}
.ul-nav2 .li-nav2 a {
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
}
.ul-nav2 .li-nav2 a::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  width: 1px;
  height: 15px;
  margin: auto 0;
  background-color: #97199b;
}
.ul-nav2 .li-nav2 a:last-of-type::after {
  width: 0px;
}
.icon-li-nav2 {
  width: 32px;
}
.box-search {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}
.box-user {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 4px;
  border-radius: 50%;
  border: 0.083rem solid #ffffff;
  position: relative;
}
.box-user::before {
  content: "";
  position: absolute;
  top: 0;
  left: 105%;
  width: 15px;
  height: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../images/nav_menu/status_img_user.png");
}
.user_img {
  max-width: 100%;
}
.div-input-search {
  display: flex;
  align-items: center;
  margin-left: 7px;
}
.input-search-nav2 {
  border-radius: 15px;
  z-index: 99;
  font-size: 22px;
  line-height: 18px;
  height: 30px;
  width: 180px;
  padding-left: 30px;
  color: #767676;
  background-repeat: no-repeat;
  background-image: url("../images/nav_menu/icon_search_input.png");
  background-position: 7px center;
  background-size: 16px;
  background-color: #ffffff;
  border: none;
}
.arrow-carousel {
  width: 40px;
}
.main-container {
  position: relative;
  width: 100%;
}
.side-main {
  width: 100%;
}
.card-bizapp {
  border: 1px solid #999999;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
  box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
  margin-bottom: 1rem;
  background-color: #ffffff;
}
.p-title-card-bizapp {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 600;
  justify-content: space-between;
}
.icon-title-card {
  float: right;
}
.img-icon-title-card {
  width: 25px;
}
.img-icon-title-card.ebook {
  width: 30px;
}
.card-bizapp-sup {
  border-radius: 10px;
  border: 1px solid #c1c0c0;
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
  box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
}
.div-person-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.div-img-person-card {
  width: 50px;
  padding: 5px;
  border: 2px solid #9a51aa;
  border-radius: 50%;
}
.img-person-card {
  max-width: 100%;
}
.div-name-person-card {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #535353;
  margin: 5px;
  padding: 5px 10px;
  border: 2px solid #9a51aa;
  border-radius: 20px;
}
.btn-person-card {
  padding: 0;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  border-radius: 50%;
}
.icon-arrow-down-person-card {
  width: 25px;
}
.div-calendar-card {
}
.calendar-head-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 0.75rem;
  margin-bottom: 0.75rem;
  border: 1px solid #e9e9e9;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: none;
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
  box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
}
.div-text-calendar {
  font-size: 30px;
  line-height: 26px;
  color: #9a919a;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.btn-arrow-calendar {
  padding: 0;
  box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  width: 26px;
  border-radius: 50%;
}
img.arrow-calendar {
  max-width: 100%;
}
.calendar-body-card {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #800080;
  background-image: url("../images/bg_calendar_card.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-calendar-card {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
}
.text-activities-calendar {
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 0;
}
.div-ebook {
  width: 100%;
  position: relative;
  padding: 15px;
}
.div-ebook::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("../images/cornore-ebook-side.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: 15px;
  right: 15px;
}
.div-survey-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
  margin-bottom: 1rem;
}
.tile-survey {
  width: 90px;
}
.survey-body-card {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #800080;
  background-image: url("../images/bg_survey_card.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-bizapp-main {
  border: 1px solid #999999;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
  box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
  margin-bottom: 1rem;
  background-color: #ffffff;
}
.card-bizapp-main.card-bizapp-main-video {
  background-color: transparent;
  background-image: url("../images/bg_bizapp_video.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 0;
}
.card-head-bizapp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-control-bizapp-main {
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-image: url("../images/bg-arrow-control.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 5px;
  padding-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-arrow-control {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 50%;
  width: 25px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2px;
  margin-right: 2px;
}
.img-arrow-control {
  max-width: 100%;
}
.btn-seeall-control {
  background-color: transparent;
  background-image: url("../images/bg-btn-control.png");
  box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 15px;
}
.btn-seeall-control:hover {
  color: #ffffff;
}
.div-title-bizapp-main {
  width: 400px;
  background-repeat: no-repeat;
  background-image: url("../images/bg-title-bizapp-main.png");
  border-top-left-radius: 10px;
  background-size: auto 100%;
  height: 40px;
  padding-left: 35px;
  display: flex;
  align-items: center;
}
.title-bizapp-main {
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
  position: relative;
}
.title-bizapp-main::before {
  position: absolute;
  top: 0;
  right: 100%;
}
.card-bizapp-main-body {
  width: 100%;
  padding: 15px;
  margin-top: 0.3rem;
}
.card-bizapp-main-sup {
  border-radius: 10px;
  border: 1px solid #c1c0c0;
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
  box-shadow: inset 0px 0px 4px 0px rgba(193, 192, 192, 0.3);
  padding: 15px;
}
.tooltip-user {
  position: relative;
  background-image: url("../images/tooltip-bg.png");
  background-repeat: no-repeat;
  width: 70%;
  height: 90px;
  background-size: 100% auto;
  padding-top: 5%;
  padding-left: 28%;
}
.tooltip-user.tooltip-user-small {
  width: 90%;
  height: 75px;
  padding-left: 33%;
}
.tooltip-user-profile {
  position: absolute;
  top: 5px;
  left: 20px;
}
.tooltip-user.tooltip-user-small .tooltip-user-profile {
  left: 16px;
  top: 4px;
}
.tooltip-user.tooltip-user-small .tooltip-user-profile img {
  width: 45px;
  border: 2px solid #ffffff;
}
.tooltip-user-profile img {
  width: 55px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}
.img-news {
  border: 1px solid #5d5d5d;
  max-width: 100%;
  width: 100%;
}
.tooltip-user.tooltip-user-small .text-name-tooltip {
  font-size: 20px;
  line-height: 20px;
}
.text-name-tooltip {
  font-size: 24px;
  line-height: 24px;
  color: #a717ab;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.tooltip-user.tooltip-user-small .text-date-tooltip {
  font-size: 18px;
}
.text-date-tooltip {
  font-size: 20px;
  line-height: 5px;
  font-weight: 500;
  color: #8e8c8e;
}
.title-news-hilight {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #2d2d2d;
}
.title-news-hilight.title-news-hilight-small {
  font-size: 20px;
  line-height: 20px;
}
.detail-news-hilight {
  font-size: 20px;
  line-height: 20px;
  color: #897d8c;
}
.text-link-readmore {
  font-size: 22px;
  line-height: 20px;
  color: #710590;
}
.text-link-readmore:hover {
  color: #897d8c;
}
.btn-pin-hilight {
  padding: 0;
  box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 50%;
  width: 40px;
  margin: 0;
}
.btn-star-hilight {
  padding: 0;
  box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  width: 40px;
  margin: 0;
}
.btn-download-hilight {
  padding: 0;
  box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  width: 40px;
  margin: 0;
}
.btn-star-hilight:hover,
.btn-download-hilight:hover {
  box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
}
.div-footer-hilight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hr-bizapp {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  border-top: none;
  height: 8px;
  width: 100%;
  background-image: url("../images/bg-hr.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.border-colume {
  border-right: 1px solid #dcdcdc;
}
.bg-four-corner {
  background-color: #212121;
  /*height: 500px;*/
  background-image: url("../images/bg-corner-top-left.png"),
    url("../images/bg-corner-bottom-left.png"),
    url("../images/bg-corner-top-right.png"),
    url("../images/bg-corner-bottom-right.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top left, bottom left, top right, bottom right;
  background-size: 22% auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.box-video {
  background-color: #7f2b81;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
}

.box-contain-img-video {
  width: 100%;
  position: relative;
  margin-bottom: 0.25rem;
}
.icon-play-video {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 55px !important;
}
.box-contain-title-video {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.text-title-video {
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 0;
}

.owl-video .owl-nav {
  position: absolute;
  width: 100%;
  bottom: 98%;
}
.owl-video .owl-nav .owl-prev span,
.owl-video .owl-nav .owl-next span {
  color: #ffffff;
  font-size: 50px;
  line-height: 50px;
  margin-left: 30px;
  margin-right: 30px;
}
.text-bizzapp-footer {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 0;
  color: #ffffff;
}
.text-visitor-footer {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 0;
  color: #ffffff;
}
.box-text-visitor {
  background-image: url("../images/bg_visitor.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
}
.text-num-visitor {
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  line-height: 20px;
}
.ul-footer-lv-1 {
  list-style: none;
  color: #ffffff;
  margin-bottom: 0;
}
.li-footer-lv-1 {
  font-size: 24px;
  line-height: 26px;
}
.ul-footer-lv-2 {
  list-style: none;
  padding-left: 0;
}
.li-footer-lv-2 {
  font-size: 22px;
  line-height: 24px;
  color: #acacac;
}
.c-b51cb9 {
  color: #b51cb9;
}
.logo_footer {
  width: 60px;
  float: left;
  margin-right: 10px;
}
.bg-third-footer {
  background-color: transparent;
  background-image: url("../images/footer_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.title-footer {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}
.text-address-footer {
  margin-bottom: 0;
  font-size: 17px;
  color: #ffffff;
  line-height: 17px;
}
.c-ffffff {
  color: #ffffff;
}
.div-contact-otherlink {
  display: flex;
}
.div-contact {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
.contact-footer {
  width: 80px;
}
.text-contact-footer {
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 0;
}
.div-otherlink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.select-bizapp {
  background-image: url("../images/icon-arrow-down-person-card.png");
  background-size: 20px;
  width: 240px;
  font-size: 22px;
  line-height: 22px;
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: 36px;
  text-align: center;
  padding-left: 20px;
  border-radius: 15px;
  margin-bottom: 1rem;
}
.text-otherlink {
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 0;
}
.navbar-mobile {
  background-color: #680a6b;
}
/* Icon 1 */
.first-button {
  padding: 0;
}
.animated-icon1 {
  width: 25px;
  height: 15px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #ffffff;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 8px;
}

.animated-icon1 span:nth-child(3) {
  top: 16px;
}
.navbar-nav-mobile {
  text-align: center;
}
.navbar-nav.navbar-nav-mobile .nav-item .nav-link {
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
}
.navbar-nav-mobile2 {
  background-color: #85088a;
  margin-left: -15px;
  margin-right: -15px;
}
.bg-6b1c6f {
  background-color: #6b1c6f;
}
.have-hr {
  border-bottom: 1px solid #fb6236;
}
.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.btn-search-mobile {
  padding: 0;
  box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
}
.btn-user-mobile {
  padding: 0;
  box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 50%;
}
.img-user-mobile {
  width: 30px;
  height: auto;
}
.logo_nav_mobile {
  height: 30px;
}
.d-contain-mobile-right {
  display: flex;
  align-items: center;
}
@media (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}
@media (max-width: 767px) {
  .box-mobile-right {
    width: 50px;
  }
  .div-title-bizapp-main{
    max-width: 180px;
    width: 180px;
    background-size: 100% 100%;
  }
  .tooltip-user-profile{
    top: 4px;
    left: 17px;
  }
  .tooltip-user.tooltip-user-small{
    width: 61%;
    padding-left: 25%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 991px) {
  .navbar1,
  .navbar2 {
    display: none;
  }
}
@media (min-width: 992px) {
  .navbar-mobile {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
  .side-main {
    width: 330px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .main-container {
    padding-right: 345px;
  }
}
